
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

body {
    background: rgb(77, 117, 192);
    font-family: "Noto Sans", sans-serif;
    line-height: 1.7;
}

header {
    background-color: rgb(23, 105, 182);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    border-width: 0px;
    border-style: solid;
    margin-left: 15px;
}

nav {
    padding-bottom: 10px;
    margin-right: 15px;
}

.about-me {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 50%;
    align-self: center;
    margin-top: 10px;
}

a {
    color: rgb(31, 12, 199);
}

a:hover {
    color:rgb(253, 253, 253);
}

h2 {
    padding-left: 5px;
    margin: 5px;
}

h2:hover {
    color: aliceblue;
}

p {
    padding-left: 5px;
    margin: 5px;
}

ul {
    padding-left: 15px;
    margin: 15px;
}

form {
    color: rgb(255, 255, 255);
    background-color: rgb(23, 105, 182);
    padding: 5px;
}

fieldset {
    padding-left: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
textarea, input {
    width: 240px;
    margin-bottom: 05px;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    border: none;
}

textarea{
    height: 50px;
    resize: none;
    border-radius: 15px;
    padding: 8px;
    
}
.field-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
}

button {
    cursor: pointer;
    display: flex;
    margin-left: 5px;
    width: 150px;
    height: 30px;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
} 
footer {
    display: flex;
    justify-content:center;
    flex-wrap: nowrap;
} 