* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(77, 117, 192);
    font-family: "Noto Sans", sans-serif;
}

header {
    background-color: rgb(23, 105, 182);
}

h1 {
    border-width: 0px;
    border-style: solid;
}

nav {
    padding-bottom: 10px;
}

a {
    color: rgb(31, 12, 199);
}

a:hover {
    color:rgb(253, 253, 253);
}

h2 {
    padding-left: 5px;
    margin: 5px;
}

h2:hover {
    color: aliceblue;
}

p {
    padding-left: 5px;
    margin: 5px;
}

ul {
    padding-left: 15px;
    margin: 15px;
}

form {
    color: rgb(255, 255, 255);
    background-color: rgb(23, 105, 182);
    padding: 5px;
}

fieldset {
    padding-left: 5px;
    margin: 5px;
}

button {
    cursor: pointer;
}